certifi==2016.2.28
cffi==1.10.0
cycler==0.10.0
Cython==0.26
easydict==1.9
joblib==0.11
kiwisolver==1.2.0
kmeans-pytorch==0.3
layered-yaml-attrdict-config==18.12.3
matplotlib==3.2.2
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.18.5
olefile==0.44
packaging==16.8
Pillow==7.1.0
protobuf==3.18.3
pycocotools==2.0.1
pycparser==2.18
pyparsing==2.2.0
python-dateutil==2.6.1
PyYAML==5.1
scikit-learn==0.23.1
scipy==1.4.1
six==1.10.0
tensorboardX==2.1
threadpoolctl==2.1.0
torch==1.2.0
torchvision==0.4.0a0+6b959ee
tornado==4.5.2
tqdm==4.15.0
